USE [eServe]
GO
/****** Object:  StoredProcedure [dbo].[spGetOpportunityByDate]    Script Date: 3/24/2015 11:11:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[spGetOpportunityByDate]
@DateOfCreation date
as
Begin
  Select OpportunityId,Name,DateOfCreation from Opportunity where DateOfCreation = @DateOfCreation 
End

GO
