USE [eServe]
GO
/****** Object:  StoredProcedure [dbo].[spGetProfileFocusAreas]    Script Date: 3/24/2015 11:11:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spGetProfileFocusAreas]	
	@StudentId int  
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT S.[StudentID]     
	  ,FA.AreaName      
  FROM [dbo].[Student] S   
  LEFT JOIN [dbo].[Student_FocusArea] SFA ON (SFA.StudentID=S.StudentID) 
  INNER JOIN [dbo].[FocusArea] FA ON (FA.FocusAreaID=SFA.FocusAreaID)  
  where S.StudentID=@StudentId
	
END








GO
